<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body style="background-color: #D3D3D3;">
<header>
    <nav>
        <div class="logo">
            <font size="6">
            Tasha's Cauldron of Trading Cards<br>
            </font>
        </div>
        <ul class="nav-links">
            <li><a href="http://localhost:8080/mainscreen">
                Main</a>
            </li>
        </ul>
    </nav>
</header>

<section class="About">
    <h1>About Us</h1>
    <p style="font-weight: bold">
        Tasha's Cauldron of Trading Cards is always the best solution for your TCG needs!
    </p>
    <div class="about-info">
        <div>
            <font size="4">
            <p> Tasha's Cauldron of Trading Cards always has
                every card you need for all TCG affiliates.<br>
                We have both old and new printings of your
                favorite cards and whatever you need to finish<br>
                building your deck to play with your friends!
            </p>
            </font>
        </div>
    </div>
</section>
<img th:src= "@{images/cauldron.png}" width="400" height="400" alt="Logo">

<footer>
    <p>&copy; 2024 Tasha's Cauldron of Trading Cards. All Rights Reserved.</p>
</footer>
</body>

</html>
